<div class="row">
  <div class="col-md-12">
    <h2>Games</h2>
    <p>Search Games</p>
    <div class="flex">
      <input class="search_input" type="text" placeholder="Search Games">
      <button class="search_butoon btn btn-primary btn-block btn-sm">Search</button>  
    </div> 
    <h2>Featured Games</h2>
  </div>
</div>
<div class="row">

  <div class="col-md-9">
    <app-product-list></app-product-list>
  </div>

  <div class="col-md-3">
    <app-filters></app-filters>
  </div>

</div>
