<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark active" [routerLink]="['/shop']">Games</a>
    <a class="p-2 text-dark" href="#">Library</a>
    <a class="p-2 text-dark" href="#">Friends</a>
    <a class="p-2 text-dark" href="#">Profile</a>
  </nav>
  <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
  <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
</div>
