/* You can add global styles to this file, and also import other style files */
.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.card, .form-control, .btn {
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-btn {
  font-size: smaller;
}

.fa-heart {
  color: palevioletred;
  cursor: pointer;
}

.guest-form-card h2 {
  text-transform: uppercase;
  font-size: medium;
}

.guest-form-card label {
  font-size: small;
}

.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
}

.flex {
  display: flex;
  margin-bottom: 20px;
}

.flex .search_butoon {
  width: 100%;
  max-width: 80px;
  display: block;
  border-radius: 0;
}

.btn-primary {
  background-color: #6C69FF;
  border-color: #6C69FF;
}